html { 
	background-color: white;

}
h3, h6 {
	color: white;
}
.search {
	height: 100px;
	width: 100px;
	background-color: green;
	position: absolute;
	top: 0px
	left: 500px;
}
.rectangle {
	height: 100px;
	width: 1100px;
	background-color: black;
}
.square {
	height: 100px;
	width: 100px;
	background-color: red;
	position: fixed;
	top: 0px
	left: 0px;
}





	
